<header class="header">
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1e3799">
    <a class="navbar-brand" href="http://localhost:3000/QuizMeCreator/">
        <img src="../pictures/quizme.jpg" width="30" height="30" class="d-inline-block align-top" alt="Website Logo">
        QuizMe!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/" class="nav-link" data-value="about">Home</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/createQuestion" class="nav-link" data-value="about">Create
                    Question</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/searchQuestion" class="nav-link " data-value="services">Search Question</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/startQuiz" class="nav-link" data-value="about">Try Quiz</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/QuizHistory" class="nav-link " data-value="team">Quiz History</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/logout" class="nav-link " data-value="contact">Logout</a>
            </li>
        </ul>
    </div>
</nav>
</header>
<section class="section">
<div class="container-fluid">
    <div class="flex-center h-75">
        <div class="signin-header">
            Quiz Creator
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mx-auto">
                <div class="card-header">
                    <div class="signin-text">
                        Question Generator
                    </div>
                </div>
                <div class="card-body">
                    <form id="CreateQues-form">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Question:</label>
                            <div class="col-sm-10">
                                <input type="text" name="Ques_content" class="form-control" placeholder="Your Question">
                            </div>
                        </div>
                        <p class="text-center">(Please indicate the correct answer(s) below by selecting the
                            checkbox option)</p>
                        <!-- QUESTION 1 -->
                        <div class="form-row buffer">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="op" value="0" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Answer:
                                    </label>
                                </div>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" name="option" placeholder="Option 1">
                            </div>
                        </div>
                        <!-- QUESTION 2 -->
                        <div class="form-row buffer">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="op" value="1" id="defaultCheck2">
                                    <label class="form-check-label" for="defaultCheck2">
                                        Answer:
                                    </label>
                                </div>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" name="option" placeholder="Option 2">
                            </div>
                        </div>
                        <!-- QUESTION 3 -->
                        <div class="form-row buffer">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="op" value="2" id="defaultCheck3">
                                    <label class="form-check-label" for="defaultCheck3">
                                        Answer:
                                    </label>
                                </div>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" name="option" placeholder="Option 3">
                            </div>
                        </div>
                        <!-- QUESTION 4 -->
                        <div class="form-row buffer">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="op" value="3" id="defaultCheck4">
                                    <label class="form-check-label" for="defaultCheck4">
                                        Answer:
                                    </label>
                                </div>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" name="option" placeholder="Option 4">
                            </div>
                        </div>

                        <!-- error -->
                        <div id="error-box-crt" class="form-group">
                            {{!-- {{#if HasRegErr}}
                                <p> {{RegErr}} </p>
                            {{/if}} --}}
                        </div>



                        <div class="form-group">
                            <div class="text-center buffer2">
                                <button type="button" id="CreateQues-btn" class="btn btn-block btn-lg" style="background-color: #1e3799">
                                    <div class="white-text">
                                        Submit
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{!-- <div class="col">
            <div class="card mx-auto">
                <div class="card-header">
                    <div class="signin-text">
                        Your Quiz Form
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group buffer3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15">
                        </textarea>
                    </div>
                </div>

            </div>
        </div> --}}
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- <script src="../../public/js/script.js"></script> --}}
<script>
    $(document).ready(function () {
        $("#CreateQues-btn").click(async function () {
            let data = $("#CreateQues-form").serialize()
            try {
                let result = await axios.post('/QuizMeCreator/createQuestion', data)
                console.log("Here is:",result)
                let response = result.data
                if (response.success === true) {
                    location.href = "/QuizMeCreator/createQuestion"
                    return
                }
                throw new Error(response)
            }
            catch (e) {
                if (e.response) {
                    $('#error-box-crt').text(e.response.data.error)
                }
                else {
                    $('#error-box-crt').text(e.message)
                }
            }

        })

    })
</script>