footer .list-inline-item{
    color: #1e3799;
    height: 10px;
}
footer h5{
    font: arial;
    color: #1e3799;
}

footer p{
    font: arial;
    color: #1e3799;
    font-size: 22px;
}
.enhance-contrast{
    color: #a0abd8 !important
}

.enhance-contrast2{
    color: #0072ee !important
}

.enhance-contrast3{
    color: #949494 !important
}

.enhance-contrast4{
    color: #767676 !important
}