html,body{
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Arial';
    }
.container-fluid {
    padding: 0;
    }
.navbar-collapse{
    justify-content: flex-end;
    }
.section{
    background-image: url('creatorhome.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    }
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
    }
    

.circle { 
    width: 100px;
    height: 100px;
    background :#1e3799; 
    -moz-border-radius: 60px; 
    -webkit-border-radius: 60px; 
    border-radius: 60px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    }

.section .pic1{
    margin-top: 11px;
    }
.section .pic2{
    margin-top: 13px;
    }
.section .pic3{
    margin-top: 20px;
    }
.section .pic4{
    margin-top: 20px;
    }
.section p{
    font: arial;
    font-size: 22px;
    color: #f2f2f2;
    }
.section .blue{
    color: #1e3799;
    }
.row{
    padding-top: 100px;
    padding-left: 350px;
    padding-right: 350px;
}
.row1{
    padding-top: 100px;
}
