<header class="header">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1e3799">
        <a class="navbar-brand" href="#home">
            <img src="pictures/quizme.jpg" width="30" height="30" class="d-inline-block align-top" alt="Website Logo">
            QuizMe!
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a href="#home" class="nav-link" data-value="about">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#AboutUs" class="nav-link" data-value="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link " data-value="services">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#login" class="nav-link" data-value="about">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="#register" class="nav-link " data-value="team">Register</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link " data-value="contact">Contact</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<section class="section1" id="home">
    <div class="overlay">
        <div class="container">
            <div class="welcome">
                <h1> Welcome to QuizMe! </h1>
                <p> QuizMe provides an easy-to-use platform for creating, sharing, and taking
                    user-created quizzes
                </p>
                <a class="btn btn-primary btn-lg" href="#AboutUs" role="button" style="background-color: #1e3799">Learn
                    More </a>

                <a class="btn btn-primary btn-lg" href="#login" role="button" style="background-color: #1e3799">Sign
                    In </a>
            </div>
        </div>
    </div>
</section>


<section class="section2" id="login">
    <div class="container-fluid">
        <div class="flex-center h-75">
            <div class="text-center">
                <div class="circle">
                    <img src="pictures/quizme.jpg" class="rounded mx-auto" width="60" height="60" alt="Website Logo">
                </div>
            </div>
            <div class="signin-header">
                Welcome Back!
            </div>
            <div class="card mx-auto">
                <div class="card-header">
                    <div class="signin-text">
                        Sign In
                    </div>
                </div>
                <div class="card-body">
                    <form id="login-form">
                        <!-- User-Type -->
                        <div class="input-group form-group">
                            {{!-- <select class="form-control" id="user-identity" name="userID"> --}}
                            <select class="form-control" name="userID">
                                <option>Please Select a User Type:</option>
                                <option value="creator">Creator</option>
                                <option value="candidate">Candidate</option>
                            </select>
                        </div>
                        <!-- Username -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="username" required>
                        </div>
                        <!-- Password -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="password" required>
                        </div>
                        <!-- Remember Me -->
                        {{!-- <div class="form-group">
                            <label class="checkbox-inline"><input type="checkbox" required="required"> Remember
                                Me</label>
                        </div> --}}
                        <div id="error-box-login" class="form-group">
                            
                        </div>
                        <div class="form-group">
                            <button type="button" id="login-btn" class="btn btn-block btn-lg" style="background-color: #1e3799">
                                <div class="white-text">
                                    Sign In
                                </div>
                            </button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <br>
                        <a href="#register">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section3" id="AboutUs">
    <div class="overlay2">
        <div class="container">
            <div class="about">
                <h1 class="text-center">About Us</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="pictures/section2a.jpg" class="img-fluid">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 desc">

                        <h3>Our Mission: </h3>
                        <p>
                            Unlike other quiz-taking platforms, QuizMe is driven by simplicity and convenience.
                            We have streamlined the quiz-taking process to give users the tools they need to
                            generate, save, and share quizzes with others. To take this convenience one step
                            further, we save all of your previously-generated questions so they can be re-used or
                            shared in the future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section4" id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Quiz-Taker Services:</h1>
                    <div class="circle1">
                        <img src="pictures/quiztaker1.jpg" class="rounded mx-auto" width="60" height="80" alt="Website Logo">
                    </div>
                    <p>Immediately review your answers upon completion</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1 class="blue">Creator Services:</h1>
                    <div class="circle2">
                        <img src="pictures/creator1.jpg" class="rounded mx-auto" width="50" height="75" alt="Website Logo">
                    </div>
                    <p class="blue">Quickly create and add multiple choice questions to your quiz</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="circle1">
                        <img src="pictures/quiztaker2.jpg" class="rounded mx-auto" width="60" height="80" alt="Website Logo">
                    </div>
                    <p>Choose from a wide variety of subjects</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <div class="circle2">
                        <img src="pictures/creator2.jpg" class="rounded mx-auto pic4" width="60" height="50" alt="Website Logo">
                    </div>
                    <p class="blue">Share your quiz questions with other creators</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="circle1">
                        <img src="pictures/quiztaker3.jpg" class="pic3 rounded mx-auto" width="90" height="75" alt="Website Logo">
                    </div>
                    <p>Keep track of your scores for all completed quizzes</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <div class="circle2">
                        <img src="pictures/creator3.jpg" class="rounded mx-auto pic4" width="60" height="60" alt="Website Logo">
                    </div>
                    <p class="blue">Save individual questions and use them on future quizzes</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section5" id="register">
    <div class="container-fluid">
        <div class="float-center h-75">
            <div class="text-center">
                <div class="circle">
                    <img src="pictures/quizme.jpg" class="rounded mx-auto" width="60" height="60" alt="Website Logo">
                </div>
            </div>
            <div class="signin-header2">
                Join QuizMe!
            </div>
            <div class="card mx-auto">
                <!-- Card Header -->
                <div class="card-header">
                    <div class="signin-text">
                        Register
                    </div>
                </div>
                <div class="card-body">
                    <!-- Beginning of Form -->
                    <form id="register-form">
                        <!-- User-Type -->
                        <div class="input-group form-group">
                            {{!-- <select class="form-control" id="user-identity" name="userID"> --}}
                            <select class="form-control" name="userID">
                                <option>Please Select a User Type:</option>
                                <option value="creator">Creator</option>
                                <option value="candidate">Candidate</option>
                            </select>
                        </div>
                        <!-- Username -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                        </div>
                        <!-- Password -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="text" class="form-control" name="password" placeholder="Password" required="required">
                        </div>
                        <!-- Confirm Password -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-check-square"></i></span>
                            </div>
                            <input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password"
                                required="required">
                        </div>
                        <!-- Terms and Conditions -->
                        <div class="form-group">
                            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the
                                <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                        </div>

                        <!-- error -->
                        <div id="error-box-reg" class="form-group">
                            {{!-- {{#if HasRegErr}}
                                <p> {{RegErr}} </p>
                            {{/if}} --}}
                        </div>


                        <!-- Register Button -->
                        <div class="form-group">
                            <button type="button" id="register-btn" class="btn btn-block btn-lg" style="background-color: #1e3799">
                                <div class="white-text">
                                    Register</div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="page-footer font-small pt-4" id="contact">

    <!-- Footer Elements -->
    <div class="container">
        <div class="text-center">
            <p> Contact us at: <a href="mailto:webmaster@example.com">QuizMe@gmail.com</a></p>
        </div>
        {{!-- <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <a class="btn btn-primary btn-lg" href="#home" role="button" style="background-color: #1e3799">Home</a>
            </li>
        </ul> --}}
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> QuizMe.com</a>
    </div>
    <!-- Copyright -->

</footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{{!-- <script src="../../public/js/script.js"></script> --}}
<script>
    $(document).ready(function () {
        $("#register-btn").click(async function () {
            let data = $("#register-form").serialize()
            try {
                let result = await axios.post('/QuizMe/register', data)
                let response = result.data
                if (response.success === true) {
                    location.href = "/QuizMe"
                    return
                }
                throw new Error(response)
            }
            catch (e) {
                if (e.response) {
                    $('#error-box-reg').text(e.response.data.error)
                }
                else {
                    $('#error-box-reg').text(e.message)
                }
            }

        })
         $("#login-btn").click(async function () {
            let data = $("#login-form").serialize()
            let data_arr = $("#login-form").serializeArray()
            try {
                let result = await axios.post('/QuizMe/login', data)
                let response = result.data
                if (response.success === true) {
                    console.log(data_arr[0].value)
                    if(data_arr[0].value === 'creator'){
                        location.href = "/QuizMeCreator"
                    }else if(data_arr[0].value === 'candidate'){
                        location.href = "/QuizMeCandidate"
                    }
                    return
                }
                throw new Error(response)
            }
            catch (e) {
                if (e.response) {
                    $('#error-box-login').text(e.response.data.error)
                }
                else {
                    $('#error-box-login').text(e.message)
                }
            }

        })
    })
</script>