<header class="header">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1e3799">
        <a class="navbar-brand" href="#home">
            <img src="pictures/quizme.jpg" width="30" height="30" class="d-inline-block align-top" alt="Website Logo">
            QuizMe!
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a href="#home" class="nav-link enhance-contrast" data-value="about">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#AboutUs" class="nav-link enhance-contrast" data-value="about">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link enhance-contrast" data-value="services">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#login" class="nav-link enhance-contrast" data-value="about">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="#register" class="nav-link enhance-contrast" data-value="team">Register</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link enhance-contrast" data-value="contact">Contact</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<section class="section1" id="home">
    <div class="overlay">
        <div class="container">
            <div class="welcome">
                <h1> Welcome to QuizMe! </h1>
                <p> QuizMe provides an easy-to-use platform for creating, sharing, and taking
                    user-created quizzes
                </p>
                <a class="btn btn-primary btn-lg" href="#AboutUs" role="button" style="background-color: #1e3799">About
                    Us </a>

                <a class="btn btn-primary btn-lg" href="#login" role="button" style="background-color: #1e3799">Sign
                    In </a>
            </div>
        </div>
    </div>
</section>


<section class="section2" id="login">
    <div class="container-fluid">
        <div class="flex-center h-75">
            <div class="text-center">
                <div class="circle">
                    <img src="pictures/quizme.jpg" class="rounded mx-auto" width="60" height="60" alt="Website Logo">
                </div>
            </div>
            <div class="card mx-auto">
                <div class="card-header">
                    <div class="signin-text">
                        Sign In
                    </div>
                </div>
                <div class="card-body">
                    <form id="login-form">
                        <!-- User-Type -->
                        <div class="input-group form-group">
                            {{!-- <select class="form-control" id="user-identity" name="userID"> --}}
                                <select class="form-control" name="userID">
                                    <option>Please Select a User Type:</option>
                                    <option value="creator">Creator</option>
                                    <option value="candidate">Candidate</option>
                                </select>
                        </div>
                        <!-- Username -->
                        <label for="username">
                            Username
                        </label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="username" id="username"
                                required>
                        </div>
                        <!-- Password -->
                        <label for="password">
                            Password
                        </label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="password" id="password"
                                required>
                        </div>
                        <!-- Remember Me -->
                        {{!-- <div class="form-group">
                            <label class="checkbox-inline"><input type="checkbox" required="required"> Remember
                                Me</label>
                        </div> --}}
                        <div id="error-box-login" class="form-group">

                        </div>
                        <div class="form-group">
                            <button type="button" id="login-btn" class="btn btn-block btn-lg" style="background-color: #1e3799">
                                <div class="white-text">
                                    Sign In
                                </div>
                            </button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <br>
                        <a href="#register" class="enhance-contrast2">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="enhance-contrast2">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section3" id="AboutUs">
    <div class="overlay2">
        <div class="container">
            <div class="about">
                <h1 class="text-center">About Us</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img src="pictures/section2a.jpg" class="img-fluid" alt="About us Picture">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 desc">

                        <h2 class="make-it-blue">Our Mission: </h2>
                        <p>
                            Unlike other quiz-taking platforms, QuizMe is driven by simplicity and convenience.
                            We have streamlined the quiz-taking process to give users the tools they need to
                            generate, save, and share quizzes with others. To take this convenience one step
                            further, we save all of your previously-generated questions so they can be re-used or
                            shared in the future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section4" id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1>Quiz-Taker Services:</h1>
                    <div class="circle1">
                        <img src="pictures/quiztaker1.jpg" class="rounded mx-auto" width="60" height="80" alt="Website Logo">
                    </div>
                    <p>Immediately review your answers upon completion</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1 class="blue">Creator Services:</h1>
                    <div class="circle2">
                        <img src="pictures/creator1.jpg" class="rounded mx-auto" width="50" height="75" alt="Website Logo">
                    </div>
                    <p class="blue">Quickly create and add multiple choice questions to your quiz</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="circle1">
                        <img src="pictures/quiztaker2.jpg" class="rounded mx-auto" width="60" height="80" alt="Website Logo">
                    </div>
                    <p>Choose from a wide variety of subjects</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <div class="circle2">
                        <img src="pictures/creator2.jpg" class="rounded mx-auto pic4" width="60" height="50" alt="Website Logo">
                    </div>
                    <p class="blue">Share your quiz questions with other creators</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <div class="circle1">
                        <img src="pictures/quiztaker3.jpg" class="pic3 rounded mx-auto" width="90" height="75" alt="Website Logo">
                    </div>
                    <p>Keep track of your scores for all completed quizzes</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <div class="circle2">
                        <img src="pictures/creator3.jpg" class="rounded mx-auto pic4" width="60" height="60" alt="Website Logo">
                    </div>
                    <p class="blue">Save individual questions and use them on future quizzes</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section5" id="register">
    <div class="container-fluid">
        <div class="float-center h-75">
            <div class="text-center">
                <div class="circle">
                    <img src="pictures/quizme.jpg" class="rounded mx-auto" width="60" height="60" alt="Website Logo">
                </div>
            </div>
            {{!-- <div class="signin-header2">
                Join QuizMe!
            </div> --}}
            <div class="card mx-auto">
                <!-- Card Header -->
                <div class="card-header">
                    <div class="signin-text">
                        Register
                    </div>
                </div>
                <div class="card-body">
                    <!-- Beginning of Form -->
                    <form id="register-form">
                        <!-- User-Type -->
                        <div class="input-group form-group">
                            {{!-- <select class="form-control" id="user-identity" name="userID"> --}}
                                <select class="form-control" name="userID">
                                    <option>Please Select a User Type:</option>
                                    <option value="creator">Creator</option>
                                    <option value="candidate">Candidate</option>
                                </select>
                        </div>
                        <!-- Username -->
                        <label for="username-register">
                            Username
                        </label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" name="username" placeholder="Username" id="username-register"
                                required="required">
                        </div>
                        <!-- Password -->
                        <label for="password-register">
                            Password
                        </label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password" id="password-register"
                                required="required">
                        </div>
                        <!-- Confirm Password -->
                        <label for="confirm-register">
                            Confirm Password
                        </label>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-check-square"></i></span>
                            </div>
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
                                id="confirm-register" required="required">
                        </div>

                        <!-- error -->
                        <div id="error-box-reg" class="form-group">
                            {{!-- {{#if HasRegErr}}
                            <p> {{RegErr}} </p>
                            {{/if}} --}}
                        </div>


                        <!-- Register Button -->
                        <div class="form-group">
                            <button type="button" id="register-btn" class="btn btn-block btn-lg" style="background-color: #1e3799">
                                <div class="white-text">
                                    Register</div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer class="page-footer font-small pt-4" id="contact">

    <!-- Footer Elements -->
    <div class="container">
        <div class="text-center">
            <p> Contact us at: <a href="mailto:webmaster@example.com" class="enhance-contrast2">QuizMe@gmail.com</a></p>
        </div>
        {{!-- <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <a class="btn btn-primary btn-lg" href="#home" role="button" style="background-color: #1e3799">Home</a>
            </li>
        </ul> --}}
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#" class="enhance-contrast2"> QuizMe.com</a>
    </div>
    <!-- Copyright -->

</footer>

{{!-- <script src="tota11y.min.js"></script> --}}
<script src="js/script_home.js"></script>
