<header class="header">
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1e3799">
    <a class="navbar-brand" href="#">
        <img src="../pictures/quizme.jpg" width="30" height="30" class="d-inline-block align-top" alt="Website Logo">
        QuizMe!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/" class="nav-link" data-value="about">Home</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/createQuestion" class="nav-link" data-value="about">Create Qestion</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:3000/QuizMeCreator/searchQuestion" class="nav-link " data-value="services">Search Question</a>
            </li>
            <li class="nav-item">
                <a href="#section2" class="nav-link" data-value="about">Try Quiz</a>
            </li>
            {{!-- <li class="nav-item">
                <a href="#section5" class="nav-link " data-value="team"></a>
            </li> --}}
            <li class="nav-item">
                <a href="http://localhost:3000/logout" class="nav-link " data-value="contact">Logout</a>
            </li>
        </ul>

    </div>
</nav>
</header>
<section class="section-take">
    <div class="container-fluid">
        <div class="flex-center h-75">
            <div class="signin-header">
                Quiz Results
            </div>
        </div>
        <div class="card mx-auto h-100">
            <div class="card-body">
                <ul class="a">
                    {{#if history.length}} {{!history being the array of quiz results}}
                        {{#each history}}
                            <li>
                                <form>
                                    <div class="form-group row">
                                        <label for="QuizTitle" class="col-sm-2 col-form-label font buffer-his">Title:</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext result-font buffer-his"
                                                id="QuizTitle" value={{quizTitle}}> {{!quizTitle being title of a taken quiz}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="QuizScore" class="col-sm-2 col-form-label font">Score:</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext result-font" id="QuizScore"
                                                value={{quizScore}}> {{!quizScore being the score of a taken quiz}}
                                        </div>
                                    </div>
                                </form>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>You haven't taken any quizzes</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</section>